html, body {
    width: 70%;
    margin: 0 auto;
    padding: 0;
    text-align: center;
    font-family: Arial, sans-serif;
}
.header {
    border: 2px solid black;
    background-color: #ffeb99;
    color: black;
    padding: 20px;
    margin-top: 20px;
}
.textbox {
    border: 2px solid black;
    background-color: white;
    padding: 20px;
    margin: 30px 0;
    text-align: left;
    position: relative;
}
.textbox label {
    display: block;
    margin-bottom: 10px;
    font-size: 1.5em;
    font-weight: bold;
}
.textbox input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 45px;
    border: 2px solid lightgrey;
    border-radius: 4px;
    font-family: Arial, sans-serif;
    font-size: 1.2em;
}
.textbox button {
    display: block;
    margin: 0 auto;
    padding: 10px 15px;
    background-color: #99cc99;
    color: black;
    border: 2px solid black;
    border-radius: 0;
    cursor: pointer;
    font-family: Arial, sans-serif;
    font-size: 1.2em;
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
}
.textbox button:hover {
    background-color: #669966;
}
.output {
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin: 20px 0;
    border: 2px solid black;
}
.output .nw {
    flex: 1;
    background-color: lightblue;
    padding: 10px;
    text-align: left;
}
.output .nnw {
    flex: 1;
    background-color: lightcoral;
    padding: 10px;
    text-align: left;
}
.output h2, h3 {
    margin-bottom: 10px;
    margin-left: 10px;
    font-size: 1.2em;
    text-align: left;
}